p code {
    color: red;
}

.blog-list-item div.featured-thumbnail {
    flex-basis: auto;
}

footer .content li + li {
    margin-top: 0;
}

footer a img {
    height: 2rem;
    width: 2rem;
}

footer a {
    margin-left: 1px;
    margin-right: 1px;
}

footer a img {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer .flex-row{
    justify-content: center;
}


footer.footer {
    padding: 2rem 10% 4rem;
}

.post-preview {
    margin-bottom: 2rem;
}

h2 code[class*="language-"] { 
    font-size: 24px;
}

p {
    font-size: 20px;
}
pre[class*="language-"] {
    font-size: 16px;
    font-weight: 500;
}

code[class*="language-"] { 
    font-size: 16px;
    font-weight: 500;
}