p code {
    color: red;
}

.blog-list-item div.featured-thumbnail {
    flex-basis: auto;
}

footer .content li + li {
    margin-top: 0;
}

footer a img {
    height: 2rem;
    width: 2rem;
}

footer a {
    margin-left: 1px;
    margin-right: 1px;
}

footer a img {
    margin-left: 1rem;
    margin-right: 1rem;
}

footer .flex-row{
    justify-content: center;
}


footer.footer {
    padding: 2rem 10% 4rem;
}

.post-preview {
    margin-bottom: 2rem;
}

h2 code[class*="language-"] { 
    font-size: 24px;
}

p {
    font-size: 20px;
}
pre[class*="language-"] {
    font-size: 16px;
    font-weight: 500;
}

code[class*="language-"] { 
    font-size: 16px;
    font-weight: 500;
}

.content table {
    border: 1px solid grey;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
    background-color: #eee9ff;
    text-align: center;
} 

.content th, .content td {
    border: 1px solid black;
}

.content tr:nth-child(even) {
    background-color: #fbffe7;
}

.content th {
    color: #eaffe9;
    background-color: gray;
}

.content td del {
    text-decoration: none;
}

.content td:has(del) {
    background-color: #ff7799;
}
